@import './_anime.sass'

body
    background-color: #000
#anime_box
    padding: 6px 24px
    #card_content   
        width: 100%
        height: 100%
        display: flex
        flex-wrap: wrap
        #card
            width: 121px
            height: 121px
            margin: 6px
            padding: 25px
            border: 2px #FFF solid
            // .camera
            //     width: 120px
            //     height: 120px
            //     -webkit-perspective-origin: 50% 50%
            //     -webkit-perspective: 500px
            //     .space
            //         position: absolute
            //         width: 100%
            //         height: 100%
            //         -webkit-transform-style: preserve-3d
            //         div
            //             position: absolute
            //         .space-box1,.space-box2
            //             transform-style: preserve-3d
            //             div
            //                 width: 0
            //                 height: 0
            //                 border-width: 0 30px 67px
            //                 border-style: solid
            //                 opacity: .4
            //         .space-box1,.space-box2
            //             .face1
            //                 border-color: transparent transparent #fff
            //                 transform-origin:center bottom
            //                 transform: translateX(30px) translateY(0px) rotateX(35.36deg)
            //             .face2
            //                 border-color: transparent transparent #999
            //                 transform-origin: right bottom
            //                 transform: translateX(45px) translateY(-6px) rotateY(-80deg) rotateX(-36.36deg)
            //             .face3
            //                 border-color: transparent transparent #444
            //                 transform-origin: left bottom
            //                 transform: translateX(30px) translateY(-32px)  translateZ(-100px) rotateX(48.36deg)
            //             .face4
            //                 border-color: transparent transparent #999
            //                 transform-origin: left bottom
            //                 transform: translateX(15px) translateY(-6px) rotateY(80deg) rotateX(-36.36deg)
            //         .space-box2
            //             transform-origin: center 50px 0px
            //             transform: rotateX(180deg) translateY(-20px)
            //             // .face1
            //             //     border-color: transparent transparent #fff
            //             //     transform-origin:center bottom
            //             //     transform: translateX(30px) translateY(0px) rotateX(35.36deg)
            //             // .face2
            //             //     border-color: transparent transparent #999
            //             //     transform-origin: right bottom
            //             //     transform: translateX(45px) translateY(-6px) rotateY(-80deg) rotateX(-36.36deg)
            //             // .face3
            //             //     border-color: transparent transparent #444
            //             //     transform-origin: left bottom
            //             //     transform: translateX(30px) translateY(-32px)  translateZ(-100px) rotateX(48.36deg)
            //             // .face4
            //             //     border-color: transparent transparent #999
            //             //     transform-origin: left bottom
            //             //     transform: translateX(15px) translateY(-6px) rotateY(80deg) rotateX(-36.36deg)