body {
  background-color: #000;
}

body #anime_box {
  padding: 6px 24px;
}

body #anime_box #card_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

body #anime_box #card_content #card {
  width: 121px;
  height: 121px;
  margin: 6px;
  padding: 25px;
  border: 2px #FFF solid;
}

body #anime_box #card_content #card .cssSelector {
  margin: -25px 50px;
  width: 20px;
  height: 20px;
  background-color: #fff;
}

body #anime_box #card_content #card .DomNodeSelector {
  width: 20px;
  height: 20px;
  margin: 15px 50px;
  background-color: #000;
}

body #anime_box #card_content #card .cssTransforms {
  margin: 50px 50px;
  width: 20px;
  height: 20px;
  border: 2px #FFF solid;
}

body #anime_box #card_content #card .cssProrerties {
  margin: 10px 10px;
  width: 100px;
  height: 100px;
  border: 1px #FFF solid;
  border-radius: 50%;
}

body #anime_box #card_content #card .cssProrerties1 {
  margin: 22px 25px;
  width: 50px;
  height: 50px;
  border: 1px #FFF solid;
  border-radius: 50%;
}

body #anime_box #card_content #card .div3 {
  margin: 45px 45px;
  width: 30px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

body #anime_box #card_content #card .div3 .div4 {
  width: 4px;
  height: 4px;
  margin: 1px 1px;
  background-color: #FFF;
}

body #anime_box #card_content #card .SpecificPropParams {
  margin: 50px -25px;
  width: 20px;
  height: 20px;
  background-color: #000;
}

body #anime_box #card_content #card .polymorph {
  fill: none;
  stroke: #FFF;
  stroke-miterlimit: 10;
  stroke-width: 2;
}

body #anime_box #card_content #card .FunctionBasedValues3 {
  width: 45px;
  height: 45px;
  margin: 40px 40px;
  background-color: #FFF;
  box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.9);
}

body #anime_box #card_content #card .FunctionBasedValues2 {
  width: 20px;
  height: 20px;
  margin: -70px 50px;
  background-color: #FFF;
  box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.9);
}

body #anime_box #card_content #card .FunctionBasedValues1 {
  width: 10px;
  height: 10px;
  margin: 55px 55px;
  background-color: #FFF;
  box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.9);
}

body #anime_box #card_content #card .StepEasing {
  width: 20px;
  height: 20px;
  background-color: #FFF;
  margin: -10px;
}

body #anime_box #card_content #card #particles-js {
  width: 175px;
  height: 175px;
  margin: -27px;
}

body #anime_box #card_content #card .st2min {
  fill: #444;
  stroke: #FFF;
  stroke-width: 4;
}

body #anime_box #card_content #card .pathRect {
  width: 10px;
  height: 10px;
  background-color: #FFF;
  margin: -20px;
}

body #anime_box #card_content #card .pathBox {
  width: 148px;
  height: 148px;
  margin: 15px -15px;
}

body #anime_box #card_content #card .pathBox .path {
  stroke: #FFF;
}
